.settings-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #b9fff8;
  padding: 2em;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  border-radius: 8px;
  gap: 1em;
  z-index: 2;
}

.field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.field span {
  display: flex;
  align-items: center;
  gap: 1em;
}

.field label {
  color: #143f6b;
  font-size: 3em;
  font-family: "Teko", sans-serif;
}

.field button {
  background-color: #2e0249;
  color: #fafafa;
  font-size: 2em;
  aspect-ratio: 1/1;
  font-weight: 900;
  border-radius: 4px;
  width: 44px;
  border: 2px outset gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.field p {
  width: 30px;
  text-align: center;
  font-family: "Teko", sans-serif;
  font-size: 2em;
}

.submit-button {
  font-family: "Teko", sans-serif;
  background-color: #2e0249;
  color: #fafafa;
  font-size: 2em;
  font-weight: 900;
  border-radius: 4px;
  padding: 0 1em;
  border: 2px outset gray;

}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
}

.announcement {
  position: absolute;
  top: 4em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.announcement h1 {
  font-size: 3em;
  font-family: "Teko", sans-serif;
  color: #b9fff8;
  letter-spacing: 1.1;
}

@media (max-width: 600px) {
  .field {
    gap: 1em;
    flex-direction: column;
  }

  .field label {
    font-size: 1.8em;
    text-align: center;
  }

  .field p {
    font-size: 1.8em;
  }

  .field button {
    font-size: 1.2em;
    width: 36px;
  }

}
